/*
Based on: http://cssdeck.com/labs/css-checkbox-styles
*/

.boxit(@color1, @color2) {
  -webkit-box-shadow: inset 0px 1px 1px @color1, 0px 1px 3px @color2;
  -moz-box-shadow: inset 0px 1px 1px @color1, 0px 1px 3px @color2;
  box-shadow: inset 0px 1px 1px @color1, 0px 1px 3px @color2;
}

.gradit(@one, @two, @three) {
    background: -webkit-linear-gradient(top, @one 0%, @two 40%, @three 100%);
    background: -moz-linear-gradient(top, @one 0%, @two 40%, @three 100%);
    background: -o-linear-gradient(top, @one 0%, @two 40%, @three 100%);
    background: -ms-linear-gradient(top, @one 0%, @two 40%, @three 100%);
    background: linear-gradient(top, @one 0%, @two 40%, @three 100%);
}

/* Status Orb (checkbox replacement) */
@cb_ring: #fcfef4;
@cb_ring_start: #dfe5d7;
@cb_ring_stop: #b3bead;

@cb_active: #00bf00;
@cb_active_start: #00bf00;
@cb_active_stop: #009400;

@cb_inner: #222;
@cb_inner_start: #222;
@cb_inner_stop: #45484d;

@cb_ring_size: 4px;
@cb_inner_space: 2px;
@cb_active_size: 16px;

@cb_label_size: @cb_active_size + (@cb_inner_space * 2);
@cb_box_size: @cb_label_size + (@cb_ring_size * 2);
@cb_radius: @cb_box_size * 2;

@cb_accent_start: white;
@cb_accent_stop: rgba(0,0,0,0.5);

@cb_label_width: 250px;
@cb_label_font_size: 1.1em;

input[type=checkbox] {
    visibility: hidden;
}

.checkbox {
    position: relative;
    width: @cb_box_size;
    height: @cb_box_size;
    background: @cb_ring;

    .gradit(@cb_ring, @cb_ring_start, @cb_ring_stop);
    .rounded(@cb_radius);
    .boxit(@cb_accent_start, @cb_accent_stop);

    label {
        cursor: pointer;
        position: absolute;
        width: @cb_label_size;
        height: @cb_label_size;
        left: @cb_ring_size;
        top: @cb_ring_size;

        .gradient(@cb_inner, @cb_inner_start, @cb_inner_stop);
        .rounded(@cb_radius);
        .boxit(@cb_accent_stop, @cb_accent_start);

        &:after {
            opacity: 0;
            content: '';
            position: absolute;
            width: @cb_active_size;
            height: @cb_active_size;
            top: @cb_inner_space;
            left: @cb_inner_space;

            .gradient(@cb_active, @cb_active_start, @cb_active_start);
            .rounded(@cb_radius);
            .boxit(@cb_accent_start, @cb_accent_stop);
        }

        &:hover::after {
            opacity: 0.3;
        }
    }

    span {
        position: relative;
        display: block;
        top: -@cb_active_size;
        left: @cb_box_size + @cb_ring_size;
        width: @cb_label_width;
        color: @cb_ring;
        font-size: @cb_label_font_size;
    }

    input[type=checkbox]:checked + label:after {
        opacity: 1;
    }
}